@font-face {
    font-family: 'Cyber';
    src: url('../assets/fonts/Cyber.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cyber';
    src: url('../assets/fonts/Cyber-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Cyber;
    src: url('../assets/fonts/Cyber-BoldRustique.ttf') format('truetype');
    font-style: italic;
}

.cyber-text {
    font-family: 'Cyber', sans-serif;
}

h1.cyber-text {
    font-style: italic;
    color: #0ff;
}

body {
  background-color: #111;
  color: #0ff;
  text-align: center;
  margin-top: 20vh;
}

h1 {
    color: #00ffcc;
}
